<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Bell</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
        .before_call{
            width: 100%;
        }
        .after_call{
            width: 200px;
            position: absolute;
        }
    </style>
</head>
<body>
<div id="thankYouBlock">
<h1 style="font-size: 10vw; font-weight: 700;">Thank you <span id="qr_bell_owner"></span></h1>
</div>
</p>

<div id="callBlock">

    <div class="col-md-12">
        <video class="before_call" autoplay muted id="my_local_video"></video>
        <video class="after_call" autoplay id="my_remote_video"></video>
    </div>

</div>

    <div class="modal fade" id="call_notification_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Someone at your door</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button class="btn btn-success" onclick="answer()">Answer</button>
                    <button class="btn btn-danger" onclick="disconnect()">Disconnect</button>
                </div>
            </div>
        </div>
    </div>

</p>

<div id="qrCodeBlock">
    <p style="font-size: 5vw;">Here is your Qr Code</p>
    <div>
        <img id="qrCodeImage" src="">
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script src="/js/thankyou.js"></script>
<script>
window.onload = getUrlParams();
window.onload = getName();
window.onload = getQrCode();
window.onload = hideBlock();
window.onload = peerSetup();
</script>

</body>
</html>